body {
    background-color: #333;
    font-family: Impact, sans-serif;
    font-size: 64px;
    line-height: 100px;
}

div.tile {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: #DDD;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    -moz-user-select: none;
    border: 4px solid black;
}

div.tile:hover {
    cursor: pointer;
}

div#puzzle {
    background-color: #AAA;
    width: 458px;
    height: 458px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -225px;
    margin-left: -225px;
    border: 6px solid black;
}

div#menu-left {
    width: 300px;
    height: 400px;
    position: fixed;
    top: 50%;
    left: 10%;
    background-color: #DDD;
    text-align: center;
    margin-top: -200px;
}

div#menu-right {
    line-height: 50px;
    font-size: 36px;
    width: 300px;
    height: 400px;
    position: fixed;
    top: 50%;
    left: 70%;
    background-color: #DDD;
    text-align: center;
    margin-top: -200px;
}

#order {
    width: 100px;
    height: 50px;
}

div.btn:hover {
    cursor: pointer;
}

div.btn {
    font-size: 36px;
    width: 130px;
    height: 50px;
    line-height: 50px;
    border: 4px solid black;
    margin: auto;
    margin-top: 10px;
    -moz-user-select: none;
}

input, select {
    width: 200px;
    height: 50px;
    font-family: Impact;
    text-align: center;
    font-size: 24px;
    text-transform: uppercase;
    border: 4px solid black;
}

.active {
    background-color: #DD3939;
}